@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Comforter&family=Kumar+One+Outline&family=Major+Mono+Display&family=Megrim&family=Play&family=Poiret+One&family=Stick+No+Bills:wght@200&family=Syncopate&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Exo+2:wght@300&family=Georama&family=Montserrat&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Exo+2:wght@300&family=Georama&family=Montserrat&family=Raleway&family=Rancho&display=swap');

* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
html {
  /* scroll-behavior: smooth; */
  scrollbar-width: none;

}
body {
    background: linear-gradient(to right, rgb(28, 28, 28), rgb(44, 44, 44), rgb(28, 28, 28));
    overflow: hidden !important;
    font-family: 'Gruppo', sans-serif;
}

/* HOME PAGE #################################################################################################### */
.homeContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContent {
    text-align: center;
    font-size: 2em;
    width: 100%;
}
#logo {
    transition: all 2s ease;
    margin: 0px;
    display: none;
}
#Circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 2s ease-in-out forwards;
}
#DLeft {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 2s ease-in-out forwards;
    fill-opacity: 0;
}
#DRight {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 2s ease-in-out forwards;
    fill-opacity: 0;
}
#Duran {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: fill 2s ease-in-out forwards;
    fill-opacity: 0;
    stroke-width: .5;
}
#Dev {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: fill 2s ease-in-out forwards;
    fill-opacity: 0;
    stroke-width: .5;
}
.title {
    color: #000;
    display: none;
}
.caption {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-top: 25px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #EBFF00;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
.buttons button {
    background: #111;
    border: none;
    padding: 15px;
    font-size: .7em;
    color: #EBFF00;
    text-transform: uppercase;
    width: 150px;
    transition: all .5s ease;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.buttons button:hover {
    background: #111;
    color: #fff;
}
.home-socials {
    position: absolute;
    top: 15px;
    color: #111;
    display: flex;
}
.home-socials .social {
    font-size: 1.75em;
    width: 75px;
    height: 75px;
}
.home-socials i {
    color: #888;
}
.cv-cta {
}
#cv-cta {
    color: #EBFF00;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 100px;
    margin-left: -140px;
    /* border: 1px solid #EBFF00; */
    width: 250px;
    padding: 15px;
    font-size: .75em;
    transition: all .5s ease;
    opacity: 0;
}
.homeContainer .title a:hover {
    background: #111;
    color: #fff;
}

/* NAV */
nav {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 2.25em;
    color: white;
    z-index: 1500;
    opacity: 0;
    transition: all 1s ease;
    width: max-content;
}
.nav-contents {
    overflow: hidden !important;
    text-align: center;
}
nav:hover {
    cursor: pointer;
}
#logo2 {
    margin-left: auto;
    margin-right: auto;
}
.menu-link {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(90deg);
    /* width: 200px; */
    height: 150px;
    /* padding: 0px 50px; */
    font-family: 'Exo 2', sans-serif;
}

/* MENU */
.menu {
    height: 100vh;
    width: 25vw;
    position: fixed;
    left: 100vw;
    background: #111;
    z-index: 1500;
    border-left: 3px solid #EBFF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-menu {
    position: absolute;
    top: 25px;
    right: 50px;
    padding: 15px;
}
.close-menu:hover {
    cursor: pointer;
}
.menu-items {
    color: white;
    font-size: 3em;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.menu-item {
    text-align: center;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}
.menu-item:hover {
    cursor: pointer;
}
#cv-nav {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#cv-nav:hover {
    color: #EBFF00;
}
.menu-socials {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-social {
    font-size: 3em;
    margin-left: 30px;
}
.menu-social a {
    color: white;
}

/* ABOUT PAGE #################################################################################################### */
.aboutContainer {
    min-height: 100vh;
    background: #111;
    color: white;
    padding-bottom: 75px;
    font-size: 3em;
    display: none;
}

/* BIO  ################################################### */
.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bio-inner {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;

}
.hello {
    color: #EBFF00;
    /* margin-bottom: 0vh; */
    font-size: 3em;
    position: relative;
    font-weight: 200;
    opacity: 0;
    font-family: 'Rancho', cursive;


}
.hello .hello-inner {
    position: relative;
    display: inline-block;
}
.hello .letter {
    transform-origin: 50% 100%;
    display: inline-block;
}

.bio-text {
    color: #FFFFFF;
    margin-bottom: 10vh;
    opacity: 0;
    font-family: 'Raleway', sans-serif;
}
.scroll-text {
    color: #FFFFFF;
    opacity: 0;
}

.dcontain {
    text-align: center;
    width: 100%;
    opacity: 0;
}
#da1, #da2, #da3 {
    transition: all 1s ease;
}
#da2 {
    animation-delay: -333ms !important;
}
#da3 {
    animation-delay: -666ms !important;
}

/* SKILLS ################################################## */

.skills {
    padding: 150px 10% 150px 10%;
    text-align: center;
    background: #191919;
}
.skills .skill-title {
    color: white;
    text-align: left;
    font-size: 1.5em;
}
.skills .title-inner {
}
.skills .title-text {
}
.yellow {
    color: #EBFF00;
}
.skill-section {
    margin-bottom: 100px;
}
.skill-section:last-child {
    margin-bottom: 0px !important;
}
.skill-title {
    margin-bottom: 25px;
    border-bottom: 3px solid #EBFF00;
    text-align: left;
    font-size: 1.5em;
    /* font-weight: 600; */
    padding-bottom: 25px;
}
.skill-row {
    display: flex;
}
.skill-box {
    height: 200px;
    width: 200px;
    margin-right: 25px;
    background: #222;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75em;
    transition: all .25s linear;
}
.skill-box:hover {
    border-radius: 15%;
}
.skill-svg {
    height: 60%;
    width: 60%;
}
#html-svg {
    background: url('./assets/skillsSVG/html.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#css-svg {
    background: url('./assets/skillsSVG/css.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#javascript-svg {
    background: url('./assets/skillsSVG/javascript.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#php-svg {
    background: url('./assets/skillsSVG/php.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#python-svg {
    background: url('./assets/skillsSVG/python.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#mysql-svg {
    background: url('./assets/skillsSVG/mysql.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#react-svg {
    background: url('./assets/skillsSVG/react.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#redux-svg {
    background: url('./assets/skillsSVG/redux.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#jquery-svg {
    background: url('./assets/skillsSVG/jquery.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#backbone-svg {
    background: url('./assets/skillsSVG/backbone.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#sass-svg {
    background: url('./assets/skillsSVG/sass.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#firebase-svg {
    background: url('./assets/skillsSVG/firebase.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#aws-amplify-svg {
    background: url('./assets/skillsSVG/aws-amplify.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#git-svg {
    background: url('./assets/skillsSVG/git.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#figma-svg {
    background: url('./assets/skillsSVG/figma.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#linux-svg {
    background: url('./assets/skillsSVG/linux.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#wordpress-svg {
    background: url('./assets/skillsSVG/wordpress.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#nextjs-svg {
    background: url('./assets/skillsSVG/nextjs.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.skill-text {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-box:hover .skill-text {
    opacity: 1;
    cursor: default !important;
}
#customsvg {
    margin-top: 50px;
    margin-bottom: 50px;
}
#HIGHLIGHT1, #HIGHLIGHT2, #HIGHLIGHT3, #HIGHLIGHT4, #HIGHLIGHT5, #HIGHLIGHT6, #ELIP {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
}
#ELIP_2, #RECT, #TXT_2, #RECT_2, #TXT_3, #ELIP_3, #TXT_5, #TXT, #RECT_3, #TXT_6,
#SUBT1, #SUBT2, #SUBT3, #SUBT4, #SUBT5, #SUBT6 {
    opacity: 0;
}

/* PROCESS ################################################## */
.process {
    padding: 150px 10% 150px 10%;
}
.process .title {
    color: white;
    text-align: left;
    font-size: 2em;
}
.process .title-inner {
}
.process .title-text {
}
/* DESIGN ######################### */
.design {
    text-align: center;
    min-height: 300px;
}
.design h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}
.boxes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 75px;
}
#boxes .svg-box {
    text-align: center;
}
#boxes svg {
    display: block;
    color: white;
}
/* GRAPHICS.SVG */
#GT1 {
    opacity: 0;
}
#GV1, #GV2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
}
/* LAYOUTS.SVG */
#LT1 {
    opacity: 0;
    /* animation-delay: 1s !important; */
}
#LV1, #LV2, #LV3, #LV4, #LV5 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
    /* animation-delay: 1s !important; */
}
/* TYPO.SVG */
#TT1, #TT2 {
    opacity: 0;
    /* animation-delay: 2s !important; */
}
#TV1, #TV2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
    /* animation-delay: 2s !important; */
}
/* DEVELOP ######################### */
.develop {
    margin-top: 150px;
    text-align: center;
    min-height: 300px;
}
.develop h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}
/* CODEFRAME.SVG */
#CODETEXT, #CR2, #CR3, #CR4, #CR5, #CR6, #CR7, #CR8 {
    opacity: 0;
}
#CV1, #CV2, #CV3, #CV4, #CV6, #CV7, #CV8, #CV9, #CV10,
#CV11, #CV12, #CV13, #CV14, #CV15, #CV16, #CV17, #CV18, #CV19, #CV20,
#CV21, #CV22, #CV23, #CV24, #CV25, #CV26, #CV27, #CV28, #CR1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
}

/* RESPONSIVEFRAME.SVG */
#RT1, #RR1, #RR2, #RR3, #RR4, #RR5, #RR6, #RR7, #RR8, #RR9,
#RR10, #RR11, #RR12, #RR13, #RR14, #RC1, #RC2, #RC3 {
    opacity: 0;
}

#RV1, #RV2, #RV3, #RV4, #RV5, #RV6, #RV7, #RV8, #RV9, #RV10, #RV11 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
}

/* SEOFRAME.SVG */
#ST1, #ST2, #SR1, #SC1, #SP1, #SP2 {
    opacity: 0;
}

#SV1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
}

/* DEPLOY ######################### */
.deploy {
    margin-top: 150px;
    text-align: center;
    min-height: 300px;
}
.deploy h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.design .info,
.develop .info,
.deploy .info {
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: .6em !important;
}



/* DOMAINFRAME.SVG */
#DT1, #DT2, #DC1, #DR1  {
    opacity: 0;
}
#DR1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
}

/* HOSTINGFRAME.SVG */
#HFRAME {
    opacity: 0;
}
#HR1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
}

/* SSLFRAME.SVG */
#SST1, #SSR1, #SSR2, #SSC1 {
    opacity: 0;
}

#SSP1, #SSP2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
}

.big {
    height: 200px;
}

/* ********************************************************************************************************** */
.workContainer {
    background: #111;
    color: white;
    font-size: 3em;
    position: relative;
    z-index: 0;
    display: none;
}
.workContainer .title {
    color: white;
    background: #333;
    text-align: left;
    padding: 25px;
    font-size: 1.5em;
    padding: 25px 10%;
    margin-bottom: 50px;
}
.rects {
}
.rect {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #EBFF00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    position: relative;
}
.rect:first-child {
}
.rect:last-child {
    border: none !important;
}
.rect-inner {
}
.work-number {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 3.5em;
    color: gray;
}
.work-title {
    font-size: 1.5em;
    height: auto;
    color: #EBFF00;
    font-family: 'Rancho', cursive;
}
.work-description {
    height: auto;
    width: 80%;
    margin-left: 50px;
    margin-top: 50px;
    height: 75%;    
}
.work-links {
    font-size: .75em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.work-icons {
    position: absolute;
    bottom: 110px;
    left: 25px;
    color: gray;
    display: flex;
}
.work-icons i,
.work-icons svg {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.nested-links {
    margin: 25px;
}
.nested-links a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.nested-links i {
    margin-left: 25px;
    color: #EBFF00;
}
.view-link {
    margin-bottom: 10px;
}
.view-link:hover {
    color: #EBFF00;
}
.code-link:hover {
    color: #EBFF00;
}
.view-link, .code-link {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    width: 100%;
}
.view-link a {
}
.code-link a {
    color: #EBFF00;
    text-decoration: none;
    margin-right: 25px;
    cursor: pointer;
}
/* .fa-solid {
    background: red;
    border: 1px solid red;
    min-width: 50px !important;
    max-width: 50px !important;
    width: 50px !important;
    height: 50px !important;
    min-height: 50px !important;
    max-width: 50px !important;
    font-size: 25px !important;
    
}
.fa-regular {
    border: 1px solid red;
    width: 100px;
} */
#animeSVG {
    /* border: 1px solid red; */
}
#arrowSVG {
    /* border: 1px solid red; */
}
#jsonsvg {
    border: 1px solid red;
}
/* ********************************************************************************************************** */
.contactContainer {
    min-height: 100vh;
    background: #111;
    color: white;
    font-size: 3em;
    position: relative;
    z-index: 0;
    display: none;
}

.toggled {
    text-shadow: 5px 5px 10px #fff;
}
.toggledContainer {
    display: block !important;
}
.cleft {
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
.cleftinner {
    /* width: 100%; */
    /* padding: 0px 50px; */
    text-align: center;
}
.socials {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}
.social {
    height: 75px;
    width: 75px;
    font-size: 1.25em;
}
.social a {
    color: white !important;
    cursor: pointer;
}
#cv-contact {
    color: #fff;
    text-decoration: none !important;
    font-size: .75em;
    color: #EBFF00;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}
#cv-contact:hover {
    background: rgb(44, 44, 44);
}
.contactInfo {
    font-size: .8em;
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}
.contact-row {
    margin-bottom: 10px;
}
.cright {
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crightinner {
    width: 100%;
}
.ctext {
    margin-bottom: 20px;
}
form {
    width: 100%;
    display: grid;
}
label {
    color: #EBFF00;
    margin-bottom: 5px;
    font-size: .75em;
    cursor: none !important;
}
input {
    height: 30px;
    width: 75%;
    margin-bottom: 20px;
    background: rgb(44, 44, 44);
    border: none;
    padding: 5px 20px;
    color: white;
    /* cursor: none !important; */
}
input:focus {
    outline: none;
    border-bottom: 1px solid #EBFF00;
}
input:hover {
    border-bottom: 1px solid #EBFF00;
}
textarea {
    width: 75%;
    height: 100px !important;
    resize: none;
    background: rgb(44, 44, 44);
    border: none;
    padding: 20px;
    color: white;
    /* cursor: none !important; */
}
textarea:focus {
    outline: none;
    border-bottom: 1px solid #EBFF00;
}
textarea:hover {
    border-bottom: 1px solid #EBFF00;
}
input[type="submit"] {
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
    margin-top: 20px;
}
input[type="submit"]:hover {
    border-bottom: 1px solid #EBFF00;
    cursor: pointer;
}
/* ***************************************************** KEYFRAMES ***************************************************** */
@keyframes spin {
    to {
        transform: rotateY(360deg);
    }
}
@keyframes stroke {
    to {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}
@keyframes fill {
    to {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        stroke-width: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes outline {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes crossColor {
    0% {
        stroke: #EBFF00
    }
    50% {
        stroke: #111
    }
    100% {
        stroke: #EBFF00
    }
}


/* ***************************************************** M-QUERIES ***************************************************** */
/* Close to tablet */
@media only screen and (max-width: 900px) {
    .title {
        font-size: .8em;
    }
    .buttons {
        width: 50vw;
        flex-wrap: wrap;
    }
    .buttons button {
        width: 100%;
        margin: 5px 0px;
        background: none;
        border-left: 3px solid #EBFF00;
        background: #111;
    }
    .workContainer {
        font-size: 1.5em !important;
    }
    .rect svg {
        height: 15px;
    }
    .rect {
        height: 50vh !important;
        margin-top: 20vh;
    }
    .work-title {
        font-size: 1.5em;

    }
    .work-links {
        overflow-y: hidden;
        padding-bottom: 15px;
    }
    .cleft {
        width: 100%;
        height: auto;
        position: relative;
    }
    .cright {
        width: 100%;
        position: relative;
        text-align: center;
        height: auto;
        margin-top: 25px;
    }
    .cright input, .cright textarea {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .menu-link {
        display: none !important;
    }
    #logo2 {
        height: 75px
    }
    .menu {
        width: 100vw !important;
    }
    #s1 {
        align-items: flex-end;
    }
    #s1, #s2, #s3 {
        font-size: .5em;
        height: 50vh;
    }
    #s2 {
        align-items: flex-end;

    }
    #s3 {
        align-items: center;
        height: 100vh;
    }
    #darrow {
        width: 75px;
    }
    .skills {
        padding: 0 !important;
        margin: 0 !important;
    }
    .skills .title {
        height: 25vh !important;
        background: #171717;
    }
    .skills .title-inner {
        height: 25vh !important;
        
    }
    .skills .title-text {
        font-size: 1em !important;
        margin-bottom: 0px !important;
        font-weight: bolder;
    }
    .skills .title-text span {
    }
    #customsvg {
        width: 90%;
        margin: 50px 0px !important;
    }
    .process {
        padding: 0 !important;
        margin: 0 !important;
    }
    .process .title {
        height: 25vh !important;
        background: #171717;
    }
    .process .title-inner {
        height: 25vh !important;
    }
    .process .title-text {
        font-size: 1em !important;
        margin-bottom: 0px !important;
        font-weight: bolder;
    }
    .cursor {
        display: none !important;
    }
    .boxes {
        flex-direction: column;
    }
    .boxes svg {
        border: 1px solid #222;
        padding: 50px 0px;
    }
    .m-top {
        margin-top: 50px;
    }
    .design, .develop, .deploy {
        font-size: .5em;
    }
    .design svg, .develop svg, .deploy svg {
        width: 75%;
    }
    .design hr, .develop hr, .deploy hr {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .info {
        font-size: .75em !important;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 25px !important;
    }
    .workContainer {
        font-size: 1.25em !important;
    }
    .cleft, .cright {
        font-size: .75em;
    }
    .home-socials {
        display: block;
    }
}
